<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add User Form</h2>
    <form action="/users/add" method="post">
        <p><input type="text" name="name" placeholder="User Name"></p>
        <p><input type="email" name="email" placeholder="User Email"></p>
        <p><input type="password" name="password" placeholder="User Password"></p>
        <p><input type="text" name="role" placeholder="User Role"></p>
        <button>Submit</button>
    </form>
</body>
</html>