<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add Product Form</h2>
    <form action="/products/add" method="post">
        <p><input type="text" name="name" placeholder="Product Name"></p>
        <p><input type="text" name="price" placeholder="Product Price"></p>
        <p><input type="text" name="desc" placeholder="Product Description"></p>
        <p><input type="text" name="imageUrl" placeholder="Product ImageUrl"></p>
        <p><button >Submit</button></p>
    </form>
</body>
</html>